@model SumkaWeb.Models.ProductCreateModel
@{
    ViewBag.Title = "Create";
}

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
   <script src="@Url.Content("~/Scripts/sumkaScripts/create_product.js")" type="text/javascript"></script>
<div class="container">
    <div class="row">
        <h2>
            Create</h2>
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <fieldset>
                <legend>Product</legend>
                   @Html.HiddenFor(model => model.StoreID)
                <div class="editor-label">
                    @Html.LabelFor(model => model.Product.Name)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Product.Name)
                    @Html.ValidationMessageFor(model => model.Product.Name)
                </div>
                  <div class="editor-label">
                    @Html.Label("Короткий опис")
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.BannerShortDescription)
                    @Html.ValidationMessageFor(model => model.BannerShortDescription)
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Product.HtmlBanner)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Product.HtmlBanner, 25, 80,
     new Dictionary<string, object> {	
        {"style", "width:100%"}
	 })
                </div>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Product.HtmlDetail)
                </div>
                <div class="editor-field">
                    @Html.TextAreaFor(model => model.Product.HtmlDetail, 25, 80,
     new Dictionary<string, object> {	
        {"style", "width:100%"}
	 })
                </div>
                <p>
                    <input type="submit" value="Create" />
                </p>
            </fieldset>
        }
        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>
    </div>
</div>
